<div class="app-component">

	<div class="layout layout--md-w-12 layout--lg-w-12">
		<ds-spacer></ds-spacer>

		<ds-illustration [asset]="'logo-kb.png'">
		</ds-illustration>

		<ds-spacer></ds-spacer>

		<ds-text [size]="'big'">
			<strong>Mějte svoje finance pod&nbsp;palcem a&nbsp;hodně</strong>
		</ds-text>

		<ds-spacer [size]="'big'"></ds-spacer>

		<ds-input
			[label]="'Uživatelské jméno'"
			[name]="'username'">
		</ds-input>
		
		<ds-spacer [size]="'small'"></ds-spacer>
		
		<ds-input
			[label]="'PIN'"
			[name]="'pin'">	
		</ds-input>
		<ds-spacer [size]="'big'"></ds-spacer>

		<ds-button 
			[label]="'Přihlásit se'">
		</ds-button>
	</div>
</div>
