/* You can add global styles to this file, and also import other style files */

/* Essentials */

:root {
	--size-1: 1px;
	--size-2: 2px;
	--size-3: 4px;
	--size-4: 8px;
	--size-5: 16px;
	--size-6: 24px;
	--size-7: 48px;
	--size-8: 86px;

	--font-size-1: 0.7rem;
	--font-size-2: 1rem;
	--font-size-3: 2rem;
}



body {
	font-family: "Open Sans", sans-serif;
}